#page3{
    display: flex;
    width: 100%;
    background-color: #DCE1E6;;
    height: 700px;  
    position: relative; 
        z-index: 1;
    #leftImage{
        width: 70%;
    }
    #content{
        h1{
            border-bottom:10px solid #6A45FF ;
        }
        >p:nth-child(1){
        font-size: 20px;
        }
        >p:nth-child(3) {
            padding-top: 50px;
            font-size: 20px;
            display: flex;
            align-items: center;
            p{
                display: flex;
                align-items: center;
                border: 1px solid #6A45FF;
                height: 50px;
                width: 50px;
                margin-left: 20px;
                border-radius: 50%;
                span {
                    display: flex;
                    align-items: center; 
                    padding-left: 25%;
                    color: #6A45FF; 
                }
            }
           
        }
        width: 25%;
        padding-top: 15%;
        text-align: left;  
        font-family: Noto Sans;
        font-size: 15px;
        font-weight: 400; 
        text-align: left;
    }
     img{ 
        height: 350px;
        position: relative;
        top: 30%;
    @media all and (max-width:768px) {
            height: 300px;
        }
    }
}