#navbar {
  width: 100%;
  padding: 10px 0;
  background-color: white;
  align-items: center;
  display: flex;
}
#navbar #logo {
  width: 20%;
}
#navbar .container {
  margin-right: 50px;
  display: none;
}
@media all and (max-width: 768px) {
  #navbar .container {
    display: block;
  }
}
#navbar .bar1,
#navbar .bar2,
#navbar .bar3 {
  background-color: black;
  width: 30px;
  height: 2px;
  margin: 6px 0px;
  transition: 0.5s;
}
#navbar .change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}
#navbar .change .bar2 {
  opacity: 0;
}
#navbar .change .bar3 {
  transform: rotate(45deg) translate(-5px, -3px);
}
@media all and (max-width: 768px) {
  #navbar {
    justify-content: space-between;
  }
}

#menu {
  width: 80%;
}
#menu #nav {
  display: flex;
  list-style: none;
  width: 60%;
  justify-content: center;
}
#menu #nav li {
  padding: 0 50px;
}
@media all and (max-width: 768px) {
  #menu {
    display: none;
  }
}

#mobileMenu {
  position: absolute;
  width: 100%;
  top: 50px;
  background-color: white;
}
#mobileMenu #nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#page1 {
  background-image: url("./Images/7259f8ece71ae230e41c3a2c6709f5db.jpg");
  background-size: cover;
  width: 100%;
  height: 1080px;
  border: 1px;
  color: white;
}
#page1 p {
  font-family: Noto Sans;
}
#page1 #para1 {
  padding-top: 52%;
  width: 549.56px;
  margin: auto;
  height: 145.4px;
  color: white;
  font-family: Revalia;
  font-size: 78px;
  font-weight: 400;
  line-height: 133px;
  letter-spacing: 0.48em;
  text-align: center;
}
@media all and (max-width: 768px) {
  #page1 #para1 {
    padding-top: 20%;
  }
}
#page1 #para2 {
  width: 100%;
  background-color: #6A45FF;
  margin: auto;
  color: white;
  font-family: Revalia;
  font-weight: 400;
  letter-spacing: 0.48em;
  padding: 0;
  font-family: Noto Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 51px;
  letter-spacing: 0.3em;
  text-align: center;
}
@media all and (max-width: 768px) {
  #page1 #para2 {
    background-color: transparent;
  }
}
#page1 #para3, #page1 #para4 {
  font-family: Noto Sans;
  font-size: 12px;
  font-weight: 600;
  width: 70%;
  margin: auto;
  line-height: 32px;
  letter-spacing: 0.3em;
  text-align: center;
}
#page1 #para3 {
  margin-top: 30px;
}
#page1 div {
  width: 2px;
  background-color: white;
  height: 35px;
  overflow: hidden;
  box-sizing: border-box;
  margin: auto;
}
@media all and (max-width: 768px) {
  #page1 {
    height: 600px;
  }
}

#page3 {
  display: flex;
  width: 100%;
  background-color: #DCE1E6;
  height: 700px;
  position: relative;
  z-index: 1;
}
#page3 #leftImage {
  width: 70%;
}
#page3 #content {
  width: 25%;
  padding-top: 15%;
  text-align: left;
  font-family: Noto Sans;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}
#page3 #content h1 {
  border-bottom: 10px solid #6A45FF;
}
#page3 #content > p:nth-child(1) {
  font-size: 20px;
}
#page3 #content > p:nth-child(3) {
  padding-top: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
#page3 #content > p:nth-child(3) p {
  display: flex;
  align-items: center;
  border: 1px solid #6A45FF;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  border-radius: 50%;
}
#page3 #content > p:nth-child(3) p span {
  display: flex;
  align-items: center;
  padding-left: 25%;
  color: #6A45FF;
}
#page3 img {
  height: 350px;
  position: relative;
  top: 30%;
}
@media all and (max-width: 768px) {
  #page3 img {
    height: 300px;
  }
}

#page2 {
  width: 100%;
  height: 700px;
  z-index: 1;
  font-family: Noto Sans;
  position: relative;
}
#page2 h1 {
  padding-top: 75px;
}
#page2 #carousal {
  display: flex;
}
#page2 #carousal #carousal1, #page2 #carousal #carousal2, #page2 #carousal #carousal3 {
  padding-top: 20px;
  width: 33.3%;
  height: 400px;
  background-position: center;
}
#page2 #carousal #carousal1 p, #page2 #carousal #carousal2 p, #page2 #carousal #carousal3 p {
  margin: auto;
  padding: 10px;
  color: white;
}
#page2 #carousal #carousal1 > p:nth-child(1), #page2 #carousal #carousal2 > p:nth-child(1), #page2 #carousal #carousal3 > p:nth-child(1) {
  padding-top: 30%;
}
#page2 #carousal #carousal1 > p:nth-child(2), #page2 #carousal #carousal2 > p:nth-child(2), #page2 #carousal #carousal3 > p:nth-child(2) {
  width: 50%;
  font-size: 20px;
}
#page2 #carousal #carousal1 > p:nth-child(3), #page2 #carousal #carousal2 > p:nth-child(3), #page2 #carousal #carousal3 > p:nth-child(3) {
  width: 70%;
  font-size: 15px;
}
@media all and (max-width: 768px) {
  #page2 #carousal #carousal1, #page2 #carousal #carousal2, #page2 #carousal #carousal3 {
    width: 80%;
    margin: 10px auto;
  }
}
#page2 #carousal #carousal1 {
  background-image: url("./Images/7746a488a1416d22e0b8b405b3300bf2.jpg");
  background-size: cover;
}
#page2 #carousal #carousal2 {
  background-image: url("./Images/46b2300f00a14d64a977ec879165fcc1.jpg");
  background-size: cover;
}
#page2 #carousal #carousal3 {
  background-image: url("./Images/044cb65dd089cf0863aeb45d88915340.jpg");
  background-size: cover;
}
@media all and (max-width: 768px) {
  #page2 #carousal {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media all and (max-width: 768px) {
  #page2 {
    height: -moz-fit-content;
    height: fit-content;
  }
}

#animation {
  background-color: white;
  height: 300px;
  position: relative;
  z-index: 2;
}
#animation #box {
  position: absolute;
  display: block;
  margin: 100px 46%;
  width: 0;
  height: 0;
  border-top: 50px solid red;
  border-right: 50px solid blue;
  border-bottom: 50px solid green;
  border-left: 50px solid yellow;
  animation: rotate 5s infinite ease-in-out;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  75% {
    transform: rotate(180deg) scale(1);
  }
  100% {
    transform: rotate(360deg);
  }
}

#footer {
  font-family: Noto Sans;
  height: 300px;
  background-color: #5D6273;
  z-index: 1;
  position: relative;
}
#footer #redi {
  margin: auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  width: 60%;
  border-bottom: 2px solid white;
}
@media all and (max-width: 768px) {
  #footer #redi {
    flex-direction: column;
  }
}
#footer #socialMedia {
  display: flex;
  width: 30%;
  padding: 30px 0;
  justify-content: space-around;
  margin: auto;
}
#footer #socialMedia img {
  width: 48px;
}
@media all and (max-width: 768px) {
  #footer #socialMedia {
    width: 60%;
  }
}
#footer #copyright {
  display: flex;
  padding: 10px;
  align-items: center;
  margin: auto;
  justify-content: center;
}
@media all and (max-width: 768px) {
  #footer {
    height: 400px;
  }
}

body {
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
}
body #root {
  height: 100%;
}
body #root .App {
  font-family: Revalia;
  text-align: center;
  height: 100%;
}
body #root .App .background {
  position: absolute;
  background-color: #6A45FF;
  margin: 0 40%;
  height: 100%;
  width: 20%;
  z-index: -10;
}
@media all and (max-width: 768px) {
  body #root .App .background {
    opacity: 0.5;
  }
}/*# sourceMappingURL=index.css.map */