@import "./CSS/navbar.scss";
@import "./CSS/page1.scss";
@import "./CSS/page3.scss";
@import "./CSS/page2.scss";
@import "./CSS/animation.scss";
@import "./CSS/footer.scss";
body{
    margin: 0;
    // background-color: #6A45FF;
    height: fit-content;
    // overflow: hidden;

    #root {
        height: 100%;
            .App {
                font-family: Revalia;
                text-align: center;
                height: 100%;
    
                .background {
                    position: absolute;
                    background-color: #6A45FF;
                    margin: 0 40%; 
                    height: 103%;
                    top: -21px;
                    width: 20%;
                    z-index: -10;
    
                    @media all and (max-width:768px) {
                        opacity: .5;
                        top: 0px;
                        height: 105%;
                    }
                }
            }
        }
}
